<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--- do not change tag sequence -->
    <configSections>  
      <section name="mailaddress" type="System.Configuration.SingleTagSectionHandler" />  
      <section name="winscp"      type="System.Configuration.SingleTagSectionHandler" />  
      <section name="ftpserver"   type="System.Configuration.SingleTagSectionHandler" />  
      <section name="ftp"         type="System.Configuration.SingleTagSectionHandler" />  
      <section name="sftp"        type="System.Configuration.SingleTagSectionHandler" />  
      <section name="ftps"        type="System.Configuration.SingleTagSectionHandler" />  
    </configSections>  

    <mailaddress mailfrom="CustomerService@yahoo.com" 
        mailto="mlee@yahoo.com" 
        mailcc="" 
        mailbcc="" 
        maxconnectionfailed="2"
        mailintervals="3" 
	enablessl="true" />
                
    <winscp executablepath="C:\Program Files (x86)\WinSCP\winscp.exe" 
        sessionlogpath="E:\SFTP\SFTP-Monitor-V2.4\session.txt" 
        debuglogpath="E:\SFTP\SFTP-Monitor-V2.4\debug.txt" 
        sessiontimeout="180" 
        logging="false" /> 

    <ftpserver ftpserverip="207.38.111.222" 
        ftpuserid="dflistener" 
        ftppassword="111222" 
        ftpmode="Passive" 
        remotepath="/" 
        localpath="E:\SFTP\SFTP-Monitor-V2.4" />  
                
    <ftp  ftpport= "21" /> 
    <sftp sftpport= "22"  sshhostkey="ssh-rsa 1024 6b:1a:d8:24:01:74:2a:69:42:aa:1b:d3:c1:a4:37:b2" /> 
    <ftps ftpsport= "990" sslfingerprint="4f:85:eb:90:56:65:e9:99:76:91:92:c6:ff:fe:4d:c2:b3:63:24:d9" ftpsecure="Implicit" /> 
                
    <appSettings>
      <add key="protocol" value="SFTP" />    	<!--- FTP/SFTP/FTPS -->
      <add key="intervals" value="15" />    	<!--- Default:15, 1/5/15/30 -->
      <add key="log" value="true" /> 		    <!--- v2.2 New -->
      <add key="logfile" value="E:\SFTP\SFTP-Monitor-V2.4\debug.txt" /> 	<!--- v2.2 New -->
    </appSettings>
    
    <system.net>
       <mailSettings>
          <smtp from="CustomerService@yahoo.com" deliveryMethod="Network" >
             <network host="smtp.att.yahoo.com" port="465" 
                      userName="mlee@yahoo.com" password="111222" 
                      defaultCredentials="false" />
          </smtp>
       </mailSettings>
    </system.net>

</configuration>

